nav {
    /*NAV*/
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.ul_logo {
    /*NAV*/
    display: contents;
}
.logo_header {
    /*NAV*/
    width: 5em;

}

/*Principio de mio*/
#menu{
    width: 100%;
    height: 35px;
    background: white;
    float: left;
    position: relative;
    } 
    
    #menu .menup{
        
    width: 70em;
    height: 35px;
    padding: 0px;
    
    }
    
    #menu li{
    float:left;
    position:relative;
    padding: 6px 0;
    margin: 0;
    list-style: none;
    } 
    
    #menu li a{
    color:black;
    font-size:12px;
    padding: 10px 10px;
    /* text-shadow: 0px -1px 0px #000; */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    font-family: wwf;
    } 
    
    /*ocultamos el dropdown*/    
    #menu li > ul{
    display:none;
    position:absolute;
    background: white;
    padding: 0;
    z-index: 2;
    }
    
    #menu li > ul li{
    padding:0;
    margin:1px 0;
    list-style: none;
    } 
    
    #menu li > ul li:first-child, #menu li:hover > ul li:last-child{
    padding:0;
    margin:0 0;
    }
    
    /*le damos el color blanco al enlance del submenu y el background negro */    
    #menu li:hover > a{
    color:black;
    background-color: white;
    width: 120px; 
    } 
    
    #menu li > ul li a{
    width: 150px;
    margin: 0 0 0 5px;
    display:block;
    color: black;
    } 
    
    /* Con esto mantenemos el codigo submenu activo */
    #menu li:hover > ul{
    display:block;
    width: 150px;
    top: 35px;
     }
    
    #menu .divider{
    border-right: 1px solid #BCBCBC;
    height: 23px;
    }
    #menu .dropdown::after{
    content:"";
    position: absolute;
    top: 15px;
    left: 70px;
    width:0px;
    height:0px;
    border-style: solid;
    border-width: 4.3px;
    border-bottom-width:0px;
    border-color: white;
    }
    
    #menu li:hover::after{
    border-color: #fff transparent transparent transparent;
    }
    
    hr{
    margin: 0;
    padding: 0;
    width: 80%;
    position: relative;
    border-color: white;
    left: 10px;
    }
    
    #menu .dropdown span{
    height: 15px;
    width: 3px;
    position: absolute;
    top: 6px;
    left: 5px;
    }
    .h_nav{
        display: none !important;
        background: #424242;
    }







/*Final*/










.busqueda {
    /*NAV*/
    background-image: url(./../img/busqueda-de-lupa.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
    height: 22px;
    border: none;
    position: relative;
    top: -2em;
    left: -1.5em;
    margin: auto;
}

.flex1 {
    /*NOTICIAS*/
    display: flex;
}

.titulo {
    /*NOTICIAS*/
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    font-size: 50px;
    margin-bottom: 55px;
    line-height: 1;
    text-align: center;
    font-family: wwf;
}

hr {
    /*NOTICIAS*/
    display: block;
    width: 30px;
    height: 5px;
    margin: 25px auto;
    background: orangered;
}

.primeraimagen,
.segundaimagen,
.terceraimagen {
    /*NOTICIAS*/
    height: 300px;
    width: 100%;
}

.cursiva {
    /*NOTICIAS*/
    font-style: italic;
}

.color_naranja {
    /*NOTICIAS*/
    color: orange;
}

.formato_texto {
    /*NOTICIAS*/
    display: inline-flex;
    padding-top: 20px;
}

.font30 {
    /*NOTICIAS*/
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    box-sizing: border-box;
    color: black;
    letter-spacing: 1px;
    font-family: wwf;
}

.div_imagenes {
    /*NOTICIAS*/
    width: 80%;
    margin: auto;
}

.div_img1 {
    /*NOTICIAS*/
    padding: 1%;
}

.div_img2 {
    /*NOTICIAS*/
    padding: 1%;
}

.div_img3 {
    /*NOTICIAS*/
    padding: 1%;
}

.flex_noticiaspublicaciones {
    /*NOTICIAS*/
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_noticiaspublicaciones>p {
    /*NOTICIAS*/
    background-color: orangered;
    margin: 2px;
    padding: 10px;
    width: 10%;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-family: wwf;
}

.myDiv {
    background-image: url(https://wwfint.awsassets.panda.org/img/medium_ww1253752_768857.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
    width: 100%;
    height: 200%;
    margin: auto;
    margin-top: -12em;
}

.myDiv2 {
    margin-top: 180px;
    margin-left: 15px;
    width: 500px;
}

.boton {
    color: white;
    background-color: #a14a0a;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
}

.titulo2 {
    color: white;
    font-family: wwf;
    margin-top: 2%;
    font-size: 6em;
}